<!DOCTYPE html>
<html ng-app="myTodo">
<head>
  <title>Angular To-Do</title>
    <!-- Latest compiled and minified CSS -->
    <script src="jquery.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.3.0/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.3.0/angular-route.min.js"></script>
    <script src = "app.js"></script>
</head>
<body ng-controller="TodoCtrl as todoList">
    <form class="form-horizontal" ng-submit = "todoList.addTodo()">
  <fieldset>
    <legend>Todo</legend>
    <div class="form-group">
      <label for="task" class="col-lg-2 control-label">Task</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" ng-model="todoList.newTodo.title">
      </div>
    </div>
    
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" ng-model="todoList.newTodo.description"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
    
    <section id="todo">
        <article id="todo" ng-repeat="todo in todoList.todo">
            <h3>{{ todo.title }}</h3>
            <p> {{ todo.description }}</p>   
            <a href="" ng-click="todoList.removeTodo($index)">Remove</a>
        </article>
    </section>
</body>
</html>